* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}
.App__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App__body {
  width: 75%;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.App__bodyRight {
  margin-left: 20px;
}

.App__signup {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .App__body {
    width: 80%;
    position: relative;
    flex-direction: column;
  }
}
